<nav id="navbar_products">
  <ul>
    <div class="dropdown">
      <button class="dropbtn" onclick="myProduct()">
        Birthday Bouquets
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="productpage.html">Most Popular</a>
        <a href="productpage.html">Birthday Boy</a>
        <a href="productpage.html">Birthday Girl</a>
        <a href="productpage.html">Custom Name</a>
        <a href="productpage.html">Mystery Bouquet</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn" onclick="myProduct()">
        Balloony Occasion
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="productpage.html">Graduation</a>
        <a href="productpage.html">Good Luck!</a>
        <a href="productpage.html">Get Well</a>
        <a href="productpage.html">Wedding</a>
        <a href="productpage.html">Retirement</a>
        <a href="productpage.html">Patriotic</a>
        <a href="productpage.html">Christamas</a>
        <a href="productpage.html">Hanukkah</a>
        <a href="productpage.html">Eid</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn" onclick="myProduct()">
        Build a Balloon Bouquet
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="productpage.html">Numbers</a>
        <a href="productpage.html">Big Letters</a>
        <a href="productpage.html">Common Designs</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn" onclick="myProduct()">
        Decorating with Balloons
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="productpage.html">Arches</a>
        <a href="productpage.html">Trees</a>
        <a href="productpage.html">Kites</a>
        <a href="productpage.html">Umbrellas</a>
        <a href="productpage.html">Columns</a>
        <a href="productpage.html">Centerpieces</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn" onclick="myProduct()">
        Balloons in Bulk
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="productpage.html">Small Latex</a>
        <a href="productpage.html">Large Latex</a>
        <a href="productpage.html">Small Mylar</a>
        <a href="productpage.html">Large Mylar</a>
        <a href="productpage.html">Special Orders</a>
      </div>
    </div>
  </ul>
</nav>