<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/styleHome.css" rel="stylesheet">
    <script src="./js/button.js"></script>
    <script src="./js/time.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
    <title>The Ballonatic Asylum</title>
</head>

<body>
    <%- include('../partials/header'); %>

    <main>
        <%- include('../partials/nav'); %>

        <div class="hero">
            <a class="prev-btn"><i class="fas fa-chevron-left"></i></a>
            <div class="slides-container">
                <div class="slide-image"><img src="./images/heroimage1.png" alt="image1" />
                    <div id="dateNow">11/3/2017<br />2:45:12 p.m.</div>
                    <h2 class="centered">IT'S NOT A PARTY WITHOUT</h2>
                    <h1 class="center">Balloons!</h1>
                </div>
                <div class="slide-image"><img src="./images/heroimage2.jpeg" alt="image2" />
                    <h1 class="centerImg">Halloween Treats!</h1>
                </div>
                <div class="slide-image"><img src="./images/heroimage3.jpeg" alt="image3" /></div>
            </div>
            <a class="next-btn"><i class="fas fa-chevron-right"></i></a>

            <div class="navigation-dots "></div>
        </div>
        <script src="./js/images.js"></script>
        <div class="mainSection">
            <div class="section1">
                <p class="sectionTitle">Product Features</p>
                <article class="product">Even during the pandemic, life goes on...Parties, family and business gatherings are still going on in both virtual and in-person. Balloons are commonly used to attract attention or add beauty to a paticular place. Foil balloons have recently
                    become more popular than latex balloons. They come in a wide range of sizes, shapes, colors, and designs. In comparison to the others, they ensure a longer life for the air packed in the balloon. </article>
                <article class="product">Helium-filled foil branded balloons are a perfect fit for product launches and special events, adding a feeling of celebration. Giving these balloons out to children at events such as trade shows is a great way to get it noticed around
                    the venue. Helium branded balloons stay afloat for hours creating maximum exposure all day long.

            </div>
            <aside class="mainAside">
                <p class="sectionTitle ">Customer Tributes</p>

                <article class="quote">
                    A quote from the principal owner, Krista E:<br>"We have a range of colours and options available, please look at the gallery for a portfolio of pictures. Get in touch and we can discuss your requirements and how you envision your bespoke
                    decorations. Our prime goal is your satisfaction."
                </article>
            </aside>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>

</html>